

    
 
    input[type='radio'] {
        accent-color: #77BE1D;
    }
   


.radio_input:checked + .radio_label:before {
    border-color: #319612;
}

.radio_input:checked + .radio_label:after {
    opacity: 1;
}

.title_cart_block {
    margin: 90px 0px 35px 0px;
}

.title_cart_text {
    color: #FFF;
    font-size: 43px;
    font-weight: 700;
    line-height: 130%;
}

.title_cart_text span   {
    color: #77BE1D;
    font-size: 48px;
    font-weight: 700;
    line-height: 130%;
}

.cart_rows_nav {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.cart {
    position: relative;
    display: flex;
    gap: 30px;
    padding: 30px 0px 30px 0px;
    border-top: 1px solid #13101B;
    border-bottom: 1px solid #13101B;
    margin: 30px 0px 30px 0px;
    float: left; width: 65%;
}

.title_text_cart {
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 130%;
}

.title_cart {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price_cart_block {
    display: flex;
    gap: 20px;
    align-items: center;
}

.price_cart {
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
    line-height: 130%;
}
.dicont {
    color: #77BE1D;
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
}

.old_price {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    opacity: 0.2;
}

.services_cart {
    margin-top: 40px;
}

.region_activati {
    color: rgba(255, 255, 255, 0.30);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
}

.region_activati span > a {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.region_activati span  {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.region_activati:not(:first-child) {
    margin-top: 10px;
}

.del_cart {
    position: absolute;
    right: 8px;
    top: 30px;
}

.close_btn {
    color: rgba(255, 255, 255, 0.20);
    font-size: 25px;
}

.counter_cart {
    position: absolute;
    right: 8px;
    top: 50%;
    bottom: 50%;
    display: flex;
    align-items: center;
    gap: 14px;
}

.plus_counter,.minus_counter {
    color: #1D1E23;
    font-size: 20px;
    cursor: pointer;
}

.number_counter {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;
}

.fovorits_cart {
    position: absolute;
    bottom: 10px;
    right: 0;
    cursor: pointer;
}

.fovorits_cart >svg > path {
    fill: #1E1C27;
    transition: all 0.2s ease;
}

.fovorits_cart:hover >svg > path {
    fill: #77BE1D;
    opacity: 1;
    fill-rule: inherit;
    transition: all 0.2s ease;
    fill-rule:nonzero;
}

.submit_order {
    padding: 30px;
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.10);
    margin-top: 30px;
    margin-bottom: 30px;
}

.oplata_cart{
    position: absolute;
    right: 0;
    top: 0;
}

.number_order {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 130%; 
    margin-bottom: 25px;
}

.block_order {
    text-align: center;
}

.price_submit {
    color: #FFF;
    font-size: 36px;
    font-weight: 600;
    line-height: 135%;
    margin-bottom: 25px;
}

.btn_submit {
    padding: 20px 55px;
    border-radius: 15px;
    background: rgba(119, 190, 29, 0.10);
    color: #77BE1D;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    outline: none;
    border: none;
    cursor: pointer;
    margin-bottom: 30px;
}

.pol_order {
    color: rgba(255, 255, 255, 0.30);
    font-size: 15px;
    font-weight: 500;
    line-height: 160%; 
}

.pol_order > a {
    color: #4885FC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}

input[type="radio"] {
    display: inline !important;
}
.payment {
    display: grid;
    grid-template-columns: repeat(2, 412px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-bottom: 40px;
}




.block_payment {
    padding: 30px 70px 30px 30px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.10);
}

.title_payment {
    display: flex;
    gap: 20px;
    padding-bottom: 110px;
}

.title_text_payment {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 130%; 
}


.img_payment {
    display: flex;
    gap: 10px;
}

.block_email input {
    outline: none;
    padding: 25px 0 25px 30px;
    background: #06030F;
    color: rgba(255, 255, 255, 0.40);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 26px */
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    width: 65%;
}

.block_email{
    margin-bottom: 90px;
}

.basket_line {
    border: 1px solid #13101B;
}

.footer {
    margin-top: 90px !important;
}


